<!DOCTYPE html>
<html>
  <head>
    <title>Members Only by Chris Karampagias</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body class="relative min-h-screen">
    <header
      class="h-[70px] flex justify-between items-center pl-5 pr-5 bg-black text-white"
    >
      <a href="/clubhouse" class="text-5xl justify-self-start w-[30%]"
        >Members Only</a
      >
      <%if (!user) {%>
      <div class="text-3xl mr-10 flex gap-10">
        <a
          class="bg-slate-500 p-2 rounded-2xl transition-all duration-200 hover:scale-105"
          href="/clubhouse/login"
          >Login</a
        >
        <a
          class="bg-slate-500 p-2 rounded-2xl transition-all duration-200 hover:scale-105"
          href="/clubhouse/signup"
          >Sign Up</a
        >
      </div>
      <%}else{%>
      <a
        class="bg-slate-500 p-2 ml-auto mr-auto text-3xl rounded-2xl transition-all duration-200 hover:scale-105"
        href="/clubhouse/create-message"
        >Create a message</a
      >
      <div class="text-3xl mr-10 flex justify-center w-[30%] gap-10">
        <a
          class="bg-slate-500 p-2 rounded-2xl transition-all duration-200 hover:scale-105"
          href="/clubhouse/logout"
          >Logout</a
        >
        <%if(!user.isAdmin && !user.isMember){%>
        <a
          class="bg-slate-500 p-2 rounded-2xl transition-all duration-200 hover:scale-105"
          href="/clubhouse/memberauth/<%=user._id%>"
          >Join the club!</a
        >
        <%}%>
      </div>
      <%}%>
    </header>
    <main><%- content %></main>
    <footer
      class="fixed bottom-0 h-[70px] text-white bg-black w-full text-center text-5xl"
    >
      &copy; 2023 Chris Karampagias
    </footer>
  </body>
</html>
