<% extend('layout',{isLoggedIn:isLoggedIn,isMember:isMember})%>
<h1 class="text-5xl text-center mt-5">Create a message</h1>
<form
  class="absolute border-2 rounded-2xl border-slate-500 p-5 mt-2 top-1/2 left-1/2 flex flex-col justify-between translate-x-[-50%] translate-y-[-50%] w-2/5 h-2/3"
  action=""
  method="POST"
>
  <div class="flex justify-between">
    <label class="text-4xl" for="title">Title: </label>
    <input
      class="border-[1px] border-black rounded-xl text-2xl p-2 h-[45px]"
      type="text"
      id="title"
      name="title"
      value="<%= message === undefined ? '' : message.title%>"
      required
    />
  </div>
  <div class="flex flex-col gap-2 justify-between">
    <label class="text-4xl text-center" for="content">Content </label>
    <textarea
      class="border-[1px] border-black rounded-xl text-2xl p-2"
      type="textarea"
      id="content"
      name="content"
      rows="10"
      cols="20"
      required
    >
<%= message === undefined ? '' : message.content%></textarea
    >
  </div>
  <button
    class="text-4xl bg-slate-500 text-white p-2 rounded-2xl self-center w-fit transition-all duration-200 hover:scale-105"
    type="submit"
  >
    Create message
  </button>
</form>
<%if(errors){%>
<ul class="text-3xl ml-10 text-red-500">
  <%errors.forEach(error => {%>
  <li><%= error.msg%></li>
  <%})%>
</ul>

<%}%>
